// >> XL 1201
@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    ._section_2 {

        ._video_container {

            ._video_card {

                ._context {


                    ._section_card_heading {
                        font-size: 50px !important;
                    }

                }
            }
        }
    }
 
}





// >> XL 1201
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    ._section_2 {

        ._video_container {

            ._video_card {

                ._context {


                    ._section_card_heading {
                        font-size: 48px !important;
                    }

                }
            }
        }
    }

}



// >> XL 1201
@media only screen and (min-width: 769px) and (max-width: 991px) {

    ._section_2 {

        ._video_container {

            ._video_card {

                ._context {


                    ._section_card_heading {
                        font-size: 45px !important;
                    }

                }
            }
        }
    }

}



// >> XL 1201
@media only screen and (min-width: 375px) and (max-width: 768px) {

    ._section_2 {

        ._video_container {

            ._video_card {
                padding: 8rem 4rem !important;

                ._context {


                    ._section_card_heading {
                        font-size: 32px !important;
                    }

                }
            }
        }
    }

}