@font-face {
  font-family: "prata";
  src: url(../font/prata/Prata-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url(../font/poppins/Poppins-Regular.otf);
  font-style: normal;
}
._container {
  max-width: 1424px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

body {
  font-family: "poppins";
}

h1, h2, h3, h4, h5 {
  font-family: "prata";
}

.mf-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  direction: ltr;
  contain: layout style size;
  pointer-events: none;
  z-index: 99999999;
  transition: opacity 0.3s, color 0.4s;
}
.mf-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0.2);
  background: rgba(27, 9, 54, 0.363);
  border-radius: 50%;
  transition: transform 0.25s ease-in-out, opacity 0.1s;
}
.mf-cursor.-inverse {
  color: aqua;
}
@supports (mix-blend-mode: exclusion) {
  .mf-cursor.-exclusion {
    mix-blend-mode: exclusion;
  }
  .mf-cursor.-exclusion:before {
    background: aqua;
  }
}
.mf-cursor.-pointer:before {
  transform: scale(0.15);
}
.mf-cursor.-text:before {
  opacity: 0.85;
  transform: scale(1.7);
}
.mf-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}
.mf-cursor.-icon:before {
  transform: scale(1.05);
  background: rgba(45, 53, 117, 0.459);
}
.mf-cursor.-icon.-active:before {
  transform: scale(1.4);
}
.mf-cursor.-hidden:before {
  transform: scale(0);
}
.mf-cursor-text {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: opacity 0.4s, transform 0.3s;
}
.mf-cursor.-text .mf-cursor-text, .mf-cursor.-icon .mf-cursor-text {
  opacity: 1;
  transform: scale(1);
}
.mf-cursor-media {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
}
.mf-cursor-media._Meraj {
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}
.mf-cursor-media img, .mf-cursor-media video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .mf-cursor-media img, .mf-cursor-media video {
    position: static;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: translateZ(0);
  }
}
.mf-cursor-media-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(0) translateZ(0);
  padding: 1px;
  opacity: 0;
  border-radius: 50%;
  transition: transform 0.35s, opacity 0.2s 0.2s;
}
.mf-cursor.-media .mf-cursor-media-box {
  opacity: 1;
  transform: scale(0.696);
  transition-duration: 0.4s, 0.4s;
  transition-delay: 0s, 0s;
}

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  z-index: 9999;
  height: 120px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .mainNav {
    height: 100px;
  }
}
.mainNav .mainNavContent {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .mainNav .mainNavContent {
    height: 100px;
  }
}
.mainNav .mainNavContent ._burger ._burger_btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav .mainNavContent ._burger ._burger_btn ._burger_icon {
  position: relative;
  height: 2px;
  width: 40px;
  border-radius: 1px;
  background-color: #ccc;
  transition: 0.4s;
}
.mainNav .mainNavContent ._burger ._burger_btn ._burger_icon::before, .mainNav .mainNavContent ._burger ._burger_btn ._burger_icon::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  border-radius: 1px;
  background-color: #ccc;
  transition: 0.4s;
}
.mainNav .mainNavContent ._burger ._burger_btn ._burger_icon::before {
  top: 10px;
  left: 0;
}
.mainNav .mainNavContent ._burger ._burger_btn ._burger_icon::after {
  top: -10px;
  right: 0;
}
.mainNav .mainNavContent ._burger ._burger_btn:hover ._burger_icon::before, .mainNav .mainNavContent ._burger ._burger_btn:hover ._burger_icon::after {
  width: 40px;
}
.mainNav .mainNavContent ._burger ._burger_btn._active ._burger_icon {
  transform: translateX(50px);
  pointer-events: none;
  background-color: transparent;
}
.mainNav .mainNavContent ._burger ._burger_btn._active ._burger_icon::before, .mainNav .mainNavContent ._burger ._burger_btn._active ._burger_icon::after {
  width: 40px;
  top: 0;
}
.mainNav .mainNavContent ._burger ._burger_btn._active ._burger_icon::before {
  left: 0;
  transform: translateX(-50px) rotate(45deg);
}
.mainNav .mainNavContent ._burger ._burger_btn._active ._burger_icon::after {
  right: 0;
  transform: translateX(-50px) rotate(-45deg);
}
.mainNav .mainNavContent ._logo img {
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .mainNav .mainNavContent ._logo img {
    width: 160px;
  }
}
@media only screen and (max-width: 768px) {
  .mainNav .mainNavContent ._lang_flags {
    display: none;
  }
}
.mainNav .mainNavContent ._lang_flags ._lang_flags_items {
  display: flex;
  align-items: center;
}
.mainNav .mainNavContent ._lang_flags ._lang_flags_items ._flag {
  cursor: pointer;
}
.mainNav .mainNavContent ._lang_flags ._lang_flags_items ._flag:not(:last-child) {
  margin-right: 0.75rem;
}

._offCanva {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
}
._offCanva._active {
  pointer-events: all;
}
._offCanva ._offCanvaContent {
  height: 100%;
  width: 100%;
}
._offCanva ._offCanvaContent ._offCanva_left_and_right_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
._offCanva ._offCanvaContent ._offCanva_left_and_right_container ._offCanva_left_element {
  flex: 1.5;
  height: 0%;
  background-color: #3b3027;
}
._offCanva ._offCanvaContent ._offCanva_left_and_right_container ._offCanva_right_element {
  flex: 1;
  height: 0%;
}
._offCanva ._offCanvaContent ._offCanva_links {
  position: fixed;
  transform: translateY(-100vh);
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
._offCanva ._offCanvaContent ._offCanva_links ._container {
  height: 100%;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._links {
  margin-bottom: 5rem;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._links ._links_item {
  margin-bottom: 0.75rem;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._links ._links_item a {
  font-family: "prata";
  font-size: 55px;
  color: #fff;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._offCanvaContact {
  display: flex;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._offCanvaContact ._contact_item:not(:first-child) {
  margin-left: 10rem;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._offCanvaContact ._contact_item ._contact_title {
  margin-bottom: 1.5rem;
  font-size: 17px;
  color: rgb(138, 97, 63);
  display: block;
}
._offCanva ._offCanvaContent ._offCanva_links ._offCanva_links_content ._offCanvaContact ._contact_item ._contact_details ._contact_details_item {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 0.5rem;
}

._loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 99999999;
}
._loading ._loading_name,
._loading ._loading_logo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
._loading ._loading_name {
  background-color: #15151d;
}
._loading ._loading_name h1 {
  padding: 8px 0;
  border-bottom: 2px solid coral;
  font-size: 22px;
  color: #fff;
}
._loading ._loading_logo {
  background-color: #9a8a68;
}
._loading ._loading_logo img {
  width: 200px;
  height: auto;
}

._hero {
  position: relative;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.172);
  z-index: -1;
}
._hero::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
._hero ._hero_content {
  text-align: center;
}
._hero ._hero_content ._section_title {
  font-size: 20px;
  margin-top: 5rem;
}
._hero ._hero_content ._section_heading {
  font-size: 70px;
  margin-bottom: 2rem;
  font-family: "prata";
}
._hero ._hero_content ._section_lead {
  font-size: 20px;
  margin-bottom: 3rem;
  font-family: "poppins";
}
._hero ._hero_content ._button_container {
  margin-bottom: 6rem;
}
._hero ._hero_content ._button_container ._button {
  border: 1px solid #fff;
  padding: 0.75rem 2.5rem;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: "poppins";
  font-weight: 500;
}
._hero ._hero_content ._circle_logo_selo img {
  height: 80%;
  -webkit-animation: _circle infinite;
          animation: _circle infinite;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

._about ._about_content {
  text-align: center;
}
._about ._about_content ._about_title {
  font-size: 20px;
  margin-bottom: 2rem;
}
._about ._about_content ._about_heading {
  font-size: 55px;
  margin-bottom: 2rem;
  font-family: "prata";
  line-height: 1.3;
}
._about ._about_content ._about_doctor ._about_context ._name {
  font-size: 32px;
  font-family: "prata";
}
._about ._about_content ._about_doctor ._about_context ._lead {
  font-family: "poppins";
  font-size: 18px;
}

._marquee_section {
  overflow: hidden;
  padding: 12rem 0;
}
._marquee_section ._marquee {
  position: relative;
}
._marquee_section ._marquee ._marquee_content {
  position: absolute;
  font-size: 250px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  left: 0;
  right: 0;
  overflow: hidden !important;
}
._marquee_section ._marquee ._marquee_content span {
  display: flex;
  flex-shrink: 0;
  font-family: "prata";
  text-transform: uppercase;
  white-space: pre-wrap;
}
._marquee_section ._marquee_top ._marquee_content_top {
  top: -200px;
}
._marquee_section ._marquee_bottom ._marquee_content_bottom {
  bottom: -200px;
  z-index: 111;
}
._marquee_section .wrapper_img .wrapper_img_card {
  z-index: 1;
  position: relative;
  transform: scale(1.3);
  padding: 20rem 0;
}
._marquee_section .wrapper_img .wrapper_img_card .wrapper_img_card_content {
  text-align: center;
}
._marquee_section .wrapper_img .wrapper_img_card .wrapper_img_card_content ._heading {
  font-family: "prata";
  font-size: 65px;
  line-height: 1.3;
  color: #fff;
}
._marquee_section .wrapper_img .wrapper_img_card .wrapper_img_card_content ._lead {
  font-family: "poppins";
  font-size: 17px;
  color: #fff;
}
._marquee_section .wrapper_img .wrapper_img_card .wrapper_img_card_content ._btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-family: "poppins";
  font-weight: 100;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}

._section_2 ._section_content ._video_container ._video_card {
  position: relative;
  padding: 8rem 6rem;
  background-color: #ccc;
}
._section_2 ._section_content ._video_container ._video_card ._overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.144);
}
._section_2 ._section_content ._video_container ._video_card ._context {
  text-align: center;
  position: relative;
}
._section_2 ._section_content ._video_container ._video_card ._context ._section_card_heading {
  font-size: 65px;
  font-family: "prata";
  color: #fff;
  line-height: 1.5;
}
._section_2 ._section_content ._video_container ._video_card ._context ._play_button_box {
  margin-top: 6rem;
}
._section_2 ._section_content ._video_container ._video_card ._context ._play_button_box ._play_button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
._section_2 ._section_content ._video_container ._video_card ._context ._play_button_box ._play_button img {
  width: 60%;
  transform: translateX(50%);
}

._horizontal_scroll {
  overflow: hidden;
}

._horizontal_scroll_container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

._horizontal_scroll_container_panel, ._horizontal_scroll_container_first_panel_ {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
._horizontal_scroll_container_panel.panel-1, ._horizontal_scroll_container_first_panel_.panel-1 {
  background-color: red;
  transform: scale(2) translateY(244px);
}
._horizontal_scroll_container_panel.panel-2, ._horizontal_scroll_container_first_panel_.panel-2 {
  background-color: rgb(255, 250, 241);
  width: 273vw;
  height: 100%;
  overflow: hidden;
}
._horizontal_scroll_container_panel.panel-2 ._figure, ._horizontal_scroll_container_first_panel_.panel-2 ._figure {
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_1, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_1 {
  padding: 6rem 6rem 6rem 10rem;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_1 ._firstImg, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_1 ._firstImg {
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_1 ._firstImg img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_1 ._firstImg img {
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_2, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_2 {
  position: relative;
  width: 200px;
  display: block !important;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_2 .marquee, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_2 .marquee {
  display: flex;
  flex-shrink: 0;
  transform: rotate(-90deg) translateX(-1000px);
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_2 .marquee span, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_2 .marquee span {
  display: flex;
  flex-shrink: 0;
  font-size: 150px;
  font-family: "Prata";
  text-transform: uppercase;
  white-space: pre-wrap;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 {
  display: flex;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._top_img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._top_img {
  padding: 6rem 8rem 6rem 6rem;
  max-width: 900px;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._top_img img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._top_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._top_img ._lead, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._top_img ._lead {
  font-family: "Poppins";
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._bottom_img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._bottom_img {
  padding: 6rem 6rem 6rem 8rem;
  max-width: 1000px;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._bottom_img img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._bottom_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._bottom_img ._lead, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._bottom_img ._lead {
  font-family: "Poppins";
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_2_img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_2_img {
  position: relative;
  padding: 6rem 12rem 6rem 12rem;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_parent, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_parent {
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_parent img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_parent img {
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_child, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(52%, -50%);
  max-width: 300px;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_child img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_2_img ._center_2_img_child img {
  width: 100%;
  height: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_video, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_video {
  margin-left: 17rem;
  margin-right: 16rem;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_video ._video, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_video ._video {
  position: relative;
  max-width: 900px;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_video ._video video, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_video ._video video {
  width: 100%;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_video ._video ._video_play_button, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_video ._video ._video_play_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
._horizontal_scroll_container_panel.panel-2 ._figure._figure_3 ._center_video ._video ._video_play_button img, ._horizontal_scroll_container_first_panel_.panel-2 ._figure._figure_3 ._center_video ._video ._video_play_button img {
  width: 60%;
  transform: translateX(35%);
}
._horizontal_scroll_container_panel.panel-3, ._horizontal_scroll_container_first_panel_.panel-3 {
  background-color: gray;
}
._horizontal_scroll_container_panel-4, ._horizontal_scroll_container_first_panel_-4 {
  background-color: aqua;
}
._horizontal_scroll_container_panel-5, ._horizontal_scroll_container_first_panel_-5 {
  background-color: green;
}

._section_about_doctor ._context ._section_about_title {
  margin-bottom: 1.5rem;
}
._section_about_doctor ._context ._section_heading {
  font-size: 65px;
  font-family: "prata";
  line-height: 1.2;
  margin-bottom: 2rem;
}
._section_about_doctor ._context ._counters {
  margin-bottom: 1rem;
}
._section_about_doctor ._context ._counters ._counter {
  font-family: "poppins";
  white-space: pre-wrap;
}
._section_about_doctor ._context ._counters ._counter ._counter_number {
  font-size: 65px;
  font-family: "prata";
}
._section_about_doctor ._context ._about_doctor_buttons a {
  display: inline-block;
  border: 1px solid;
  padding: 0.75rem 1.75rem;
  border-radius: 50px;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

._hero ._hero_content ._about_heading {
  font-size: 76px;
  font-family: "prata";
  line-height: 1.2;
}

._my_details ._my_details_context ._details {
  margin-left: 3rem;
}
._my_details ._my_details_context ._details ._my_details_title {
  font-family: "poppins";
  margin-bottom: 2rem;
}
._my_details ._my_details_context ._details ._my_details_heading {
  font-size: 55px;
  font-family: "prata";
  margin-bottom: 2rem;
}
._my_details ._my_details_context ._details ._lead {
  font-family: "poppins";
  line-height: 2;
  font-size: 17px;
}
._my_details ._my_details_context ._details .my_details_btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 30px;
}

._about_video ._about_video_context ._video_thumb ._video_context ._video_context_heading {
  font-size: 65px;
  font-family: "prate";
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

._Experience ._experience_content_header ._title {
  font-family: "poppins";
}
._Experience ._experience_content_header ._experience_content_heading {
  font-size: 55px;
  font-family: "prata";
}
._Experience ._collaps .collapsible .accordion_content {
  border-top: 1px solid #d88f74;
}
._Experience ._collaps .collapsible .accordion_content:last-child {
  border-bottom: 1px solid #d88f74;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-header {
  padding: 30px 0;
  font-family: "poppins";
  font-size: 22px;
  cursor: pointer;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-header i {
  color: #d88f74;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-header i svg {
  height: 30px;
  width: 30px;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-header i._minas_icon {
  display: none;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-body {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
}
._Experience ._collaps .collapsible .accordion_content .collapsible-body.open_ {
  margin-bottom: 3rem;
  opacity: 1;
}
._Experience ._collaps .collapsible .accordion_content.open .collapsible-header ._minas_icon {
  display: flex;
}
._Experience ._collaps .collapsible .accordion_content.open .collapsible-header ._plus_icon {
  display: none;
}

._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_ugraft_section_header ._ultra_hd_title {
  font-family: "poppins";
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_ugraft_section_header ._ultra_hd_heading {
  font-family: "prata";
  font-size: 55px;
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_about {
  margin-left: 5rem;
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_about ._title {
  font-family: "poppins";
  font-size: 19px;
  font-weight: 100;
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_about ._heading {
  font-size: 65px;
  font-family: "prata";
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_about ._lead {
  font-family: "poppins";
  font-size: 19px;
  font-weight: 100;
}
._ultra_hd_ugraft ._ultra_hd_ugraft_content ._ultra_hd_about ._ultra_hb_btn {
  border: 1px solid;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  font-family: "poppins";
  text-transform: uppercase;
}

._lipo_gallery img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* // >> carousel container  / */
._section_carousel_container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

._section_carousel ._lipo_carousel_header ._title {
  font-family: "poppins";
  margin-bottom: 1.5rem;
}
._section_carousel ._lipo_carousel_header ._heading {
  font-size: 50px;
  font-family: "prata";
}
._section_carousel .carousel_indicator {
  display: flex;
  margin-bottom: 1.5rem;
  margin-right: 20px;
  box-shadow: 0 0.15rem 0 #9e774a;
}
._section_carousel .carousel_indicator .carousel_dot {
  flex: 1;
  border: none;
  padding: 0.2rem;
  padding-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  font-family: "prata";
  text-align: center;
  color: #9e774a;
}
._section_carousel .carousel_indicator .carousel_dot.carousel_dot__active {
  color: #dabe9e;
  background-color: #9e774a;
}

.carousel_control {
  bottom: 50px;
  right: 20px;
  position: absolute;
  z-index: 11;
}
.carousel_control .carousel_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.carousel_control .carousel_button svg {
  height: 50px;
  width: 50px;
  color: #9e774a;
}

/* carousel */
.carousel {
  position: relative;
}

.carousel_inner {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next {
  display: block;
}

.carousel_item__pos_prev {
  left: -100%;
}

.carousel_item__pos_next {
  left: 100%;
}

.carousel_item__prev {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

/* carousel */
.carousel_img {
  display: block;
  width: 80%;
}

.carousel_caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 4rem;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.carousel_caption .carousel_caption_content {
  position: absolute;
  right: 20px;
  top: 50px;
  background-color: #fff;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.096);
  padding: 4rem 3rem;
  box-sizing: border-box;
  max-width: 410px;
  text-align: start;
}
.carousel_caption .carousel_caption_content .craousel_heading {
  font-family: "prata";
  font-size: 32px;
  color: #333;
  margin-bottom: 0.75rem;
}
.carousel_caption .carousel_caption_content .carousel_lead {
  font-family: "poppins";
  color: #333;
  margin-bottom: 1.5rem;
}
.carousel_caption .carousel_caption_content .carousel_btn {
  display: inline-block;
  padding: 0.4rem 1.5rem;
  border: 1px solid #333;
  border-radius: 30px;
  text-transform: uppercase;
  color: #333;
}

.carousel_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

._footer {
  background-color: #2D2824;
}
._footer ._roulino ._roulino_context ._text {
  font-family: "poppins";
  color: #b3a9a2;
}
._footer ._footer_address ._title {
  font-size: 17px;
  font-family: "poppins";
  font-size: 100;
  margin-bottom: 1rem;
  color: #755842;
}
._footer ._footer_address ul li {
  margin-bottom: 0.5rem;
  font-family: "poppins";
  font-size: 14px;
  color: #b3a9a2;
}

._footer_section_horizontal {
  border: none;
  border-bottom: 1px solid #504841;
}

._custome_footer_container {
  max-width: 922px;
  padding: 0 0.75rem;
  margin: 0 auto;
}

._testimonials ._testimoniasl_container {
  max-width: 924px;
  padding: 0 0.75rem;
  margin: auto;
}
._testimonials ._testimoniasl_container .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}
._testimonials ._testimoniasl_container .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._main_context {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: "prata";
  margin-bottom: 2.5rem;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  ._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._main_context {
    font-size: 35px !important;
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  ._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._main_context {
    font-size: 35px !important;
    display: block !important;
  }
}
@media only screen and (max-width: 375px) {
  ._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._main_context {
    font-size: 28px !important;
    display: block !important;
  }
}
._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._name {
  font-family: "poppins";
  font-size: 16px;
  color: #fff;
}
._testimonials ._testimoniasl_container .swiper .swiper-slide ._slide_content ._name a {
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
._testimonials ._testimoniasl_container .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-bottom: 3rem;
}
._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  margin: 0 0.4rem;
  background-color: transparent;
  flex-shrink: 0;
}
@media only screen and (max-width: 991px) {
  ._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet {
    height: 55px;
    width: 55px;
  }
}
@media only screen and (max-width: 768px) {
  ._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 375px) {
  ._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet {
    height: 50px;
    width: 50px;
  }
}
._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  box-shadow: 0 0 0 0.25rem rgb(255, 195, 106);
}
._testimonials ._testimoniasl_container .swiper-pagination .swiper-pagination-bullet img {
  width: 100%;
  height: 100%;
}

._video_player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
}
._video_player._active {
  pointer-events: all;
}
._video_player ._video_player_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
._video_player ._video_player_overlay ._overlay_inner {
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0;
}
._video_player ._video_player_video {
  width: 100%;
  height: 100%;
}
._video_player ._video_player_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._close_btn {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 999999;
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
._close_btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}
._close_btn i svg {
  height: 32px;
  width: 32px;
}/*# sourceMappingURL=style.css.map */