@font-face {
    font-family: 'prata';
    src: url(../font/prata/Prata-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url(../font/poppins/Poppins-Regular.otf);
    font-style: normal
}

@import "./components/base";
@import "./components/mouseFollower";
@import "./components/all/nav";
@import "./components/all/offCanva";
@import "./components/all/loading";
@import "./components/all/hero";
@import "./components/all/about";
@import "./components/all/marquee_effect";
@import "./components/all/section_2";
@import "./components/all/horizontal_scroll_container";
@import "./components/home";
@import "./components/about";
@import "./components/lipo";
@import "./components/all/footer";
@import "./components/all/video_player";